body {
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
    color: black;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #333;
}

#container h1 {
    text-align: center;
    font-family: "TIMES NEW ROMAN";
    color: black;

}

#cabecera {
    background: rgb(128, 148, 58);
    box-shadow: 0px 5px 50px 0x rgba(0,0,0,0.75);
    color: white;
    font-weight: bold ;
    margin: 0;
    padding: 0.5em;

}